.personal__logo {
	font-size: 25px;
	margin: 20px 50px;
	font-family: $solomonregular-font;

}

.personal__area {
	font-family: $solomonregular-font;
	position: relative;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 20px;
	justify-content: center;
}

.personal__box {
	display: flex;
	text-align: center;
	justify-content: center;
	width: 220px;
	height: 160px;
	// border: 2px solid orange;
	background-color: rgb(245, 245, 250);
	border-radius: 7px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: 20px;
	margin-top: 25px;
	opacity: 0.8;
	&:hover {
		opacity: 1;
		border: 1px solid blue
	}
}

.personal__box i {
	font-size: 40px;
	color: blue;
}

.personal__box a {
	margin-top: 40px;
	// border: 1px solid #000000;
	border-radius: 6px;
	font-family: $solomonregular-font;
	// height: 30px;
	// width: 160px;
	text-align: center;
	display: flex;
	font-size: 16px;
	font-weight: bold;
	align-items: center;
	justify-content: center;
	color: black;
	// background-color: orange;
	opacity: 0.8;
	&:hover {
		opacity: 1;
	}
}