include components/mixins
include components/doctype

mixin imagesMixinInFile(id, name)
	img(src='img/' + id + '.' + name)

body
	include header 
	.container
		.return 
			h2 Возврат 
				i(class="fa fa-share" aria-hidden="true")
			.return__info Вы можете легко вернуть или обменять купленное у нас изделие надлежащего качества.
			.return__info Срок возврата товара:
			.return__text Вернуть или обменять товар можно только в течение 14-ти дней с момента получения
				|заказа (согласно закону "о защите прав потребителей")
			.return__info Причины возврата:
				ul
					li - Несоответствие товара заявленным параметрам (цвет, длина, материал изделия и т.д.)
					li - Не подошел размер, цвет, фасон изделия, и т.д.
			.return__info Причины возврата:
				ul
					li - Изделия бывшие в употреблении к возврату не принимаются (в том числе испачканные косметикой).
					li - На изделии должны быть сохранены все бирки и наклейки, предусмотренные производителем.
					li - Должны быть соблюдены сроки возврата товара.
			.return__info Сроки возврата денег:
			.return__text Срок возврата денежных средств 7 дней с получения продавцом "Заявления на возврат"
				| или 14 дней, в случае необходимости в проведении экспертизы (ст. 28 Закона Республики Беларусь
				| "О защите прав потребителей") от 9 января 2002 г. №90-з. Если оплачивали карточкой, то при 
				| возврате деньги возвращаются на неё же (возврат на карту может занять до 30 дней - это зависит
				| от банка, выпустившего вашу карту - но обычно всё происходит гораздо быстрее).
			.return__info Как это сделать:
				ul
					li - Вам необходимо позвонить нашим менеджерам по любому из номеров, указанных на сайте - 
						| предупредить, что именно будет: "возврат" или "обмен".
					li - Заполнить заявление.
					li - Скачать: заявление для ВОЗВРАТА.
					li - Скачать: заявление для ОБМЕНА. (Его можно распечатать и заполнить или просто написать от руки)
					li - Отправить товар вместе с заявлением обратно к нам обычной почтой на адрес: г. Минск....
			.return__text2.company__important Обратите внимание: возвраты, присланные нам без заявления или 
				| наложенным платежом по почте, мы не имеем права забирать!
			.return__text2 Интернет-магазин не возмещает стоимость пересылки возвращаемого товара (кроме
				|  случаев заводского брака или ошибки отправки)
			.return__text2 Уважаемые покупатели, чтобы минимизировать риск возврата товара, наши профессиональные
				| менеджеры готовы ответить на любые ваши вопросы об изделиях непосредственно перед отправкой заказа!
	include footer 
	script(src="js/cookie.js")
	script(src="js/header.js")
	script(src="js/script.js")
	script(src="js/basket.js")