include components/mixins
include components/doctype

mixin imagesMixinInFile(id, name)
	img(src='img/' + id + '.' + name)

body
	include header 
	.container
		.company  
			h2 О нас 
			i(class="fa fa-angle-down fa-3x" aria-hidden="true")
			.company__info Интернет-магазин "Bordo" работает с белорусским трикотажем уже более 12-ти лет.
				|  Огромное количество женских нарядов прошло через наши руки, и такое же количество счастливых 
				| покупателей благодарны нам за искреннее стремление угодить им.
			h3.company__important Преимущества интернет-магазина Bordo.
			.company__info Заказывая у нас, Вы получаете гарантии того, что Ваш товар будет высокого качества.
				| Мы работаем только с проверенными производителями белоруской одежды. Мы следим за каждым изделием
				| на предмет соответствия заказанным параметрам. Бережно упаковываем и отправляем к Вам.
			.company__text Условия доставки по Беларуси!
			.company__info Бесплатная доставка Белпочтой по Беларуси, если сумма заказа более 99 руб.
				| Иначе стоимость доставки 4 руб. Доставка курьером до двери 6 руб.
			.company__text Скидки на доставку по России!
			.company__info Для покупателей из России мы делаем постоянные акции на бесплатную доставку 
				| или даём скидку на сумму доставки.
			.company__text Отправки Ваших заказов осуществляются ежедневно!
			.company__info Мы отправляем заказы по мере их комплектации. Обычно после того как вы договорились
				| с менеджером о способе оплаты и оплатили  - мы в течение одного или двух дней комплектуем 
				| и отправляем Ваш заказ.Отправки Ваших заказов осуществляются ежедневно!
			.company__text Мы дорожим каждым клиентом!
			.company__info Весь коллектив интернет-магазина "Bordo" старается, чтобы каждый из Вас
				| остался доволен и стал нашим постоянным клиентом! 
			.company__text.company__important Обратите внимание!
			.company__info Если Вы хотите приобретать белорусскую одежду чаще - мы готовы в этом помочь. 
				| Квалифицированные менеджеры помогут Вам подобрать нужный размер. Заказ будет быстро
				| сформирован и отправлен. <br>
				| Если же изделие по каким-либо причинам Вам не подошло - не беда: в течение 14-ти дней 
				|после получения его можно вернуть или обменять на другое.
			.company__text.company__important Заказывайте! Останетесь довольны!
	include footer 
	script(src="js/cookie.js")
	script(src="js/header.js")
	script(src="js/script.js")
	script(src="js/basket.js")