.container
	.footer
		.footer__logo
			.footer__firm Bordo
			.footer__text showroom
			i(class="fa fa-vk fa-1x") 
				a(href="https://vk.com/feed" id="footer__social") Vkontakte
			i(class="fa fa-instagram fa-1x") 
				a(href="https://www.instagram.com/" id="footer__social") Instagram
			a(href="#") +7 (969) 777-52-00
		.footer__clients Клиентам
			ul
				li
					a(href="../aboutShop.html").footer__link О магазине
				li 
					a(href="../aboutInsurance.html").footer__link Страхование
				li 
					a(href="../aboutReturn.html").footer__link Возврат
				li 
					a(href="../aboutСompany.html").footer__link О компании
		.footer__address Карта магазинов
			ul
				li
					.footer__link 
						|г. Минска
						br
						|пр-т Партизанский, 150А, 
						br
						|ТРЦ "МОМО"
				li 
					.footer__link  
						|г. Минск
						br
						|просп. Победителей, 65, 
						br
						|ТРЦ "Замок"
				li 
					.footer__link 
						|г. Минск
						br
						|ул. Петра Мстиславца, 11, 
						br
						|ТРЦ "Dana Mall"
				li 
					.footer__link 
						|г. Минск
						br
						|пр-т Андропова, 22, 
						br
						|ТРЦ "Нора"
		.footer__address2 Карта магазинов
			ul
				li
					.footer__link 
						|г. Минска
						br
						|пр-т Партизанский, 150А, 
						br
						|ТРЦ "МОМО"
				li 
					.footer__link  
						|г. Минск
						br
						|просп. Победителей, 65, 
						br
						|ТРЦ "Замок"
		.footer__map Подписаться на новости
			input(placeholder="Введите e-mail" id="footer__input" type="text")
			.foother__mailing Подписываясь на рассылку, вы соглашаетесь
				br
				| с условиями Политики конфиденциальности
			p
				a(href="https://vk.com/feed").footer__soc Поделиться Вконтакте
			p
				a(href="https://www.instagram.com/").footer__soc Поделиться в Instagram