.header__logo.header__logo1
	.header__tagline Одежда под любое настроение 
		p Лето - осень 2021
	.header__text Сделай свой первый заказ прямо сегодня и получи скидку 200 рублей
		p на 1-ую покупку
	.header__scrolling
		.header__circle.circle1
		.header__circle.circle2
		.header__circle.circle3
		.header__circle.circle4
		.header__circle.circle5
	.entrance__authorization
		i(class="fa fa-check fa-3x")
		.entrance__regtext Авторизация завершена
		p Добро пожаловать на сайт модной одежды
		a(href="#").entrance__exit На главную страницу
