header.header
	.header__backgroung
		.container
			.header__info
				//- Burger menu Start
				.header__burger
					span
				.header__burger__link 
					ul
						li
							a(href="../index.html").header__burger__menu Главная
						li 
							a(href="../production.html").header__burger__menu Одежда
						li 
							a(href="../map.html").header__burger__menu Оплата и доставка
						li 
							a(href="../investors.html").header__burger__menu Инвесторы
						li
							a(href="../aboutShop.html").header__burger__menu О магазине 
						li 
							a(href="../aboutInsurance.html").header__burger__menu  Страхование
						li 
							a(href="../aboutReturn.html").header__burger__menu Возврат
						li 
							a(href="../aboutСompany.html").header__burger__menu О компании
				//- Burger menu End
				.header__info__left
					ul
						li
							a(href="../aboutShop.html").header__info__link О магазине
						li 
							a(href="../aboutInsurance.html").header__info__link  Страхование
						li 
							a(href="../aboutReturn.html").header__info__link Возврат
						li 
							a(href="../aboutСompany.html").header__info__link О компании
				.header__info__right
					.header__info__icon
						i(class="fa fa-vk fa-1x") 
							a(href="https://vk.com/feed") Vkontakte
						i(class="fa fa-instagram fa-1x") 
							a(href="https://www.instagram.com/") Instagram
						a(href="#") +7 (969) 777-52-00
						a(href="#") Адреса шоурумов
					.header__info__icon2
						i(class="fa fa-instagram fa-1x") 
							a(href="https://www.instagram.com/") Instagram
					.header__x 
						p X
	.container
		.header__menu
			.header__menu__left
				ul
					li
						a(href="../index.html").header__menu__link Главная
					li 
						a(href="../production.html").header__menu__link Одежда
					li 
						a(href="../map.html").header__menu__link Оплата и доставка
					li 
						a(href="../investors.html").header__menu__link Инвесторы
			//- menu pops up on media query (left2)
			.header__menu__left2
				a(href="https://www.google.by/")
					i(class="fa fa-search" aria-hidden="true")
				a(href="../personalArea.html")
					i(class="fa fa-user-o" aria-hidden="true")
			.header__menu__logo 
				.header__firm Bordo
				.header__text2 showroom
			.header__menu__right 
				a(href="https://www.google.by/")
					i(class="fa fa-search" aria-hidden="true")
				a(href="../personalArea.html")
					i(class="fa fa-user-o" aria-hidden="true")
				a(href="#")
					i(class="fa fa-heart-o" aria-hidden="true")
				a(href="../basket.html")
					i(class="fa fa-shopping-basket" aria-hidden="true")
						.header__basket 0
			//- //- menu pops up on media query (right2)
			.header__menu__right2
				a(href="#")
					i(class="fa fa-heart-o" aria-hidden="true")
				a(href="../basket.html")
					i(class="fa fa-shopping-basket" aria-hidden="true")
						.header__basket