include components/mixins
include components/doctype

mixin imagesMixinInFile(id, name)
	img(src='img/' + id + '.' + name)

body
	include header
	.container
		.map__payment
			h2  Оплата и доставка
			h3 Курьерская доставка транспортной компанией
				.map__text  Доставка заказов осуществляется транспортными компаниями: 
					ul
						li - СДЭК 
						li - ПЭК  
						li - EMC 
						li - Почта России
					| Доставка заказов осуществляется транспортными компаниями: 
					| Стоимость доставки рассчитывается, исходя из веса, объёма груза и региона доставки.
					| Мы обеспечиваем доставку приобретенных Вами товаров по России и за пределы Российской Федерации. 
					| Следовательно, каждая покупка, требующая сопровождения, будет иметь уникальные условия.
					| Вы вскрываете упаковку при курьере, осматриваете на целостность и соответствие указанной комплектации. 
			h3 Самовывоз из магазина
				.map__text Самовывоз осуществляется по предварительному звонку, по адресу: Москва, Спартаковский переулок, дом 2, строение 1.
					| Забрать покупку может ваш друг или родственник, который знает номер и имя, на кого он оформлен.
			h3 Почтовая доставка
				.map__text  Если в вашем городе не действует курьерская служба, то вы можете заказать доставку через почту России.
					| Сразу по прибытии товара, на ваш адрес придет извещение о посылке.
					| Перед получением вы можете оценить состояние коробки (не вскрывая): вес, целостность.
					| Если вам кажется, что заказ не соответствует параметрам или коробка повреждена, попросите сотрудника почты составить акт о вскрытии.
					| Один заказ может содержать не больше 10 позиций и его стоимость не должна превышать 100 тысяч рублей. 
			h3 Срок доставки
				.map__text В зависимости от вашего региона проживания, доставка занимает от 1 дня.
		.map
			h3 Магазины Самовывоза (г.Минск).
			.header__maping
	include footer 

	script(src="js/map.js")
	script(src="js/script.js")
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&libraries=&v=weekly&channel=2")
