.container
	.section Мужская одежда
		a(href="#") Все товары
			i(class="fa fa-angle-right")
		.section__block3
			.section__block1
				img(src="../img/man1.jpg")
				.section__name Костюм
				p 2060 ₽
				.section__scrolling
					.section__circle.circl01
					.section__circle.circl02
					.section__circle.circl03
			.section__block1
				img(src="../img/man2.jpg")
				.section__name Костюм
				p 1320 ₽
				.section__scrolling
					.section__circle.circl11
					.section__circle.circl12
					.section__circle.circl13
			.section__block1
				img(src="../img/man3.webp")
				.section__name Костюм
				p 1344 ₽
				.section__scrolling
					.section__circle.circl21
					.section__circle.circl22
					.section__circle.circl23
			.section__block1
				img(src="../img/man4.webp")
				.section__name Костюм
				p 1502 ₽
				.section__scrolling
					.section__circle.circl01
					.section__circle.circl02
					.section__circle.circl03
		.section__button
			i.section__arrow.left3
			i.section__arrow.right3