.container
	.section Сезонная распродажа
		a(href="../production.html") Все товары
			i(class="fa fa-angle-right")
		.section__block
			.section__block1
				img(src="../img/image21.png")
				.section__name Футболка удлиненная
				p 660 ₽
				.section__scrolling
					.section__circle.circl01
					.section__circle.circl02
					.section__circle.circl03
			.section__block1
				img(src="../img/image22.png")
				.section__name Футболка удлиненная
				p 520 ₽
				.section__scrolling
					.section__circle.circl11
					.section__circle.circl12
					.section__circle.circl13
			.section__block1
				img(src="../img/image23.png")
				.section__name Футболка удлиненная
				p 540 ₽
				.section__scrolling
					.section__circle.circl21
					.section__circle.circl22
					.section__circle.circl23
			.section__block1
				img(src="../img/image24.png")
				.section__name Футболка удлиненная
				p 560 ₽
				.section__scrolling
					.section__circle.circl01
					.section__circle.circl02
					.section__circle.circl03
		.section__button
			i.section__arrow.left
			i.section__arrow.right
