.container
	.section Новинки
		a(href="#") Джемперы и свитшоты
			i(class="fa fa-angle-right")
		.section__block4
			.section__block1
				img(src="../img/image01.png")
				.section__name Джемпер
				p 460 ₽
				.section__scrolling
					.section__circle.circl01
					.section__circle.circl02
					.section__circle.circl03
			.section__block1
				img(src="../img/image02.png")
				.section__name Cвитшот
				p 420 ₽
				.section__scrolling
					.section__circle.circl11
					.section__circle.circl12
					.section__circle.circl13
			.section__block1
				img(src="../img/image03.png")
				.section__name Cвитшот
				p 444 ₽
				.section__scrolling
					.section__circle.circl21
					.section__circle.circl22
					.section__circle.circl23
			.section__block1
				img(src="../img/image04.png")
				.section__name Джемпер
				p 502 ₽
				.section__scrolling
					.section__circle.circl01
					.section__circle.circl02
					.section__circle.circl03
		.section__button
			i.section__arrow.left4 
			i.section__arrow.right4