.container
	.section Аксессуары
		a(href="#") Все товары
			i(class="fa fa-angle-right")
		.section__block5
			.section__block1
				img(src="../img/image41.png")
				.section__name Сумка
				p 860 ₽
				.section__scrolling
					.section__circle.circl01
					.section__circle.circl02
					.section__circle.circl03
			.section__block1
				img(src="../img/image42.png")
				.section__name Ремень
				p 920 ₽
				.section__scrolling
					.section__circle.circl11
					.section__circle.circl12
					.section__circle.circl13
			.section__block1
				img(src="../img/image43.png")
				.section__name Шляпа
				p 734 ₽
				.section__scrolling
					.section__circle.circl21
					.section__circle.circl22
					.section__circle.circl23
			.section__block1
				img(src="../img/image44.png")
				.section__name Украшение
				p 1602 ₽
				.section__scrolling
					.section__circle.circl01
					.section__circle.circl02
					.section__circle.circl03
		.section__button
			i.section__arrow.left5
			i.section__arrow.right5