.container
	.sectionbig
		.sectionbig__block
			.sectionbig__slogan Скидка до - 30% на всю верхнюю одежду
			.sectionbig__text Сделай свой первый заказ прямо сегодня и получи скидку 200 рублей на 1-ую покупку
			a(href="../production2.html")#sectionbig__button К покупкам