.container
	.section Новинки
		a(href="../production2.html") Все товары
			i(class="fa fa-angle-right")
		.section__block2
			.section__block1
				img(src="../img/image11.png")
				.section__name Футболка удлиненная
				p 460 ₽
				.section__scrolling
					.section__circle.circl01
					.section__circle.circl02
					.section__circle.circl03
			.section__block1
				img(src="../img/image12.png")
				.section__name Футболка удлиненная
				p 420 ₽
				.section__scrolling
					.section__circle.circl11
					.section__circle.circl12
					.section__circle.circl13
			.section__block1
				img(src="../img/image13.png")
				.section__name Футболка удлиненная
				p 444 ₽
				.section__scrolling
					.section__circle.circl21
					.section__circle.circl22
					.section__circle.circl23
			.section__block1
				img(src="../img/image14.png")
				.section__name Футболка удлиненная
				p 502 ₽
				.section__scrolling
					.section__circle.circl01
					.section__circle.circl02
					.section__circle.circl03
		.section__button
			i.section__arrow.left2
			i.section__arrow.right2